* {
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:active,
input:focus,
button:active,
button:focus {
  outline: none;
  outline-style: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

@font-face {
  font-family: 'Geometria';
  src: url("./Geometria-Regular.eot");
  src: local("./Geometria Regular"), local("Geometria-Regular"), url("./Geometria-Regular.eot?#iefix") format("embedded-opentype"), url("./Geometria-Regular.woff2") format("woff2"), url("./Geometria-Regular.woff") format("woff"), url("./Geometria-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.main-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFFFFF;
}

.section-container {
  width: 100%;
  padding-left: -webkit-calc((100vw - 1440px)/2 + 30px);
  padding-left: calc((100vw - 1440px)/2 + 30px);
}

header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  background-color: #FFFFFF;
}

@media screen and (min-width: 1440px) {
  header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100px;
    max-width: 1440px;
    padding-left: 30px;
  }
}

@media screen and (max-width: 1439px) and (min-width: 768px) {
  header {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    row-gap: 10px;
    height: auto;
    max-width: 768px;
    padding: 5px;
  }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
  header {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    row-gap: 10px;
    height: auto;
    max-width: 320px;
    padding: 2px;
  }
}

.header__logo {
  width: 43.93px;
  height: 52.8px;
}

.header__nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 70px;
}

.header__nav ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 39px;
     -moz-column-gap: 39px;
          column-gap: 39px;
}

.header__nav li > a {
  font-family: Geometria;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 130%;
  color: #333333;
}

@media screen and (max-width: 1439px) and (min-width: 768px) {
  .header__nav {
    margin-left: 15px;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__nav ul {
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
  }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
  .header__nav {
    margin-left: 90px;
  }
  .header__nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
  }
}

.header__phone {
  margin-left: 70px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 10px;
}

.header__phone a:hover {
  -webkit-text-decoration: underline 2px;
          text-decoration: underline 2px;
}

@media screen and (max-width: 1439px) and (min-width: 768px) {
  .header__phone {
    margin-left: 10px;
  }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
  .header__phone {
    margin-left: 105px;
  }
}

.phone--header a {
  font-family: Geometria;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 130%;
  color: #333333;
}

.header__search {
  margin-left: 131px;
  width: 77px;
  border-bottom: 1px dashed #333333;
  font-family: Geometria;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 128%;
  letter-spacing: 0.02em;
}

@media screen and (max-width: 1439px) and (min-width: 768px) {
  .header__search {
    margin-left: 0px;
  }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
  .header__search {
    margin-left: 120px;
  }
}

.header__button {
  margin-left: 36px;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 20px;
  border: 1px solid #333333;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  background-color: #FFFFFF;
  font-family: Geometria;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.02em;
}

@media screen and (max-width: 1439px) and (min-width: 768px) {
  .header__button {
    margin-left: 10px;
    -webkit-align-self: baseline;
        -ms-flex-item-align: baseline;
            align-self: baseline;
    padding: 8px 10px;
  }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
  .header__button {
    margin-left: 90px;
    -webkit-align-self: baseline;
        -ms-flex-item-align: baseline;
            align-self: baseline;
    padding: 8px 10px;
  }
}

main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-height: 2061px;
  width: 100%;
  padding-top: 67px;
}

@media screen and (min-width: 1440px) {
  main {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 1440px;
    padding-left: 30px;
  }
}

main h1 {
  font-family: Geometria;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 132%;
  color: #333333;
}

main h2 {
  font-family: Geometria;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 128%;
  letter-spacing: 0.02em;
}

main h3 {
  font-family: Geometria;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 130%;
  color: #828282;
}

.content-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 40px;
}

.product-card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 40px;
}

.chat {
  width: 447px;
  height: 764px;
  background-color: aqua;
}

.product-spec-name {
  font-family: Geometria;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: #333333;
}

.product-spec-name-underline {
  height: 2px;
  background-color: #FFDB2D;
  margin-left: 20px;
  margin-right: -35px;
  margin-top: 2px;
}

.product-specs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 5px;
  width: 680px;
}

.product-specs li {
  -webkit-border-radius: 8px;
          border-radius: 8px;
  background-color: #F4F4F4;
  padding: 26px 40px 26px 30px;
}

.main-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
  width: 400px;
}

.product-card__name-wrapper {
  font-family: Geometria;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: #333333;
}

.accrodion-instance {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
}

.accordion-name {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.accordion-name h3 {
  width: 92%;
  font-family: Geometria;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #333333;
}

.accordion-description {
  width: 91%;
  font-family: Geometria;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 130%;
  color: #333333;
}

.rotateable {
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  -o-transition: transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
}

.rotated {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  -o-transition: transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
}

.product-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 55px;
     -moz-column-gap: 55px;
          column-gap: 55px;
}

footer {
  height: 803px;
  background-color: #0f0707;
}
